.progress-container{
    position: relative;
    margin:20px auto;
    font-size: 40px;
    
    .progressLabel {
        position: absolute;
        color: #bbb;
        font-weight: 100;
        line-height: 1;
        margin-top: 50px;
        margin-left: 60px;
    }
    
    .progressValue {
        position: absolute;
        color: #bbb;
        font-weight: 100;
        line-height: 1;
        margin-top: 183px;
        margin-left: 60px;
    }
}

.round-progress {
   min-height: 300px;
}