<div id="home">
  <h1>ojo</h1>
  <h3>{{ systemStatus.serverName }}</h3>
  
  
  <div class="container" ng-show="systemStatus.serverRunning == 'Yes'">
    
     <div class="progress-container pull-left">
            <div class="progressLabel ng-cloak">CPU</div>
            <div class="progressValue ng-cloak">{{ systemLoad[1] * 100 | number : 1}}%</div>
            <div
              round-progress
              max="100"
              current="systemLoad[1] * 100"
              color="#45ccce"
              bgcolor="#eaeaea"
              radius="100"
              stroke="20"
              semi="true"
              rounded="true"
              clockwise="true"
              responsive="false"
              duration="800"
              animation="easeInOutQuart">CPU</div>
          </div>
     
     <div class="progress-container pull-left">
            <div class="progressLabel ng-cloak">Players</div>
            <div class="progressValue ng-cloak">{{ systemStatus.players[0] }} / {{ systemStatus.players[1] }}</div>
            <div
              round-progress
              max="systemStatus.players[1]"
              current="systemStatus.players[0]"
              color="#45ccce"
              bgcolor="#eaeaea"
              radius="100"
              stroke="20"
              semi="true"
              rounded="true"
              clockwise="true"
              responsive="false"
              duration="800"
              animation="easeInOutQuart"></div>
          </div>
     
     <div class="pull-right">
      <h3>Run a command</h3>
      <input ng-model="userTypedCommand" placeholder="Type an admin command here" />
      <button class="btn btn-primary" ng-click="runCommand(userTypedCommand)">Run</button>
      
      <div class="danger-zone">
        <h3>Danger Zone</h3>
        <button class="btn btn-danger" ng-click="stopServer()">Stop Server</button>
      </div>
     </div>
     
     
  </div>
  
  <div class="container" ng-show="systemStatus.serverRunning == 'No'">
    <div>
      <button class="btn btn-success" ng-click="startServer()">Start Server</button>
    </div>
  </div>
  
</div>